<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="GXService_Binding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <!--扑克牌识别服务-->
      <service name="GXService.CardRecognize.Service.CardRecognizeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.Tcp://localhost:4500/GXService/CardRecognizeService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="GXService_Binding" contract="GXService.CardRecognize.Contract.ICardsRecognizer" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      
      <!--                           十三张相关服务                                   -->
      <!--十三张牌型解析服务-->
      <service name="GXService.SSZGameServer.CardTypeParseService.Service.CardTypeParseService">
        <host>
          <baseAddresses>
            <add baseAddress="net.Tcp://localhost:4501/GXService/SSZGameServer/CardTypeParseService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="GXService_Binding" contract="GXService.SSZGameServer.CardTypeParseService.Contract.ICardTypeParseService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <!--十三张游戏控制服务-->
      <service name="GXService.SSZGameServer.GameControlService.Service.GameControlService">
        <host>
          <baseAddresses>
            <add baseAddress="net.Tcp://localhost:4502/GXService/SSZGameServer/GameControlService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="GXService_Binding" contract="GXService.SSZGameServer.GameControlService.Contract.IGameControlService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <!--                            十三张相关服务(End)                             -->
        
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata />
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>